header{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;


}
header .logo{
    display: flex;
    margin-left: 200px;
    align-content: center;
}
header .navBar{
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-end;

}
header .localisation{
    display: flex;
    align-content: space-between;
    justify-content: flex-end;
}
header .navigation{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .navigation a{
    margin-right: 40px;
    color: #FFFFFF;
    text-decoration: none;
}