.wrapper-sport {
    margin: 10px 200px;
}
.wrapper-sport h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    text-align: left;
    color: #020712;

}
.wrapper-sport .sport-type {
    display: flex;
    flex-direction: column;
}

.wrapper-sport .sport-type h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 68px;
    text-align: left;
    color: #ED2840;
}

.wrapper-sport .sport-type div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.wrapper-sport .sport-type .sport-name {
    display: flex;
    flex-direction: column;
}
.wrapper-sport .sport-type .sport-name h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #020712;
}
.wrapper-sport .sport-type .sport-name p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #020712;
}